<!-- Begin page content -->
<div ng-swipe-right="previousTime()" ng-swipe-left="nextTime()">
    <div class="container">
        <div class="page-header">
            <div class="row">
                <a class="icon-setting" tooltip="Open settings" href="#/settings"><i class=" fa fa-cogs"></i></a>

                <span class="element-main-button" ng-click="pickElementGroup.toggle()">
                    {{ pieChart.getCurrentDataElementGroup().name || 'Click to select a data element group' }}
                </span>
                <span ng-show="pieChart.getCurrentDataElementGroup().name" class="element-main-button" ng-click="pickElement.toggle()">
                    {{ pieChart.getCurrentDataElement().name || 'Click to select a data element' }}
                </span>
                <span class="element-main-button" ng-click="pickOrganizationGroup.toggle()">
                    {{ pieChart.getCurrentOrganizationGroup().name || 'Select Organization..' }}
                </span>
            </div>
        </div>

        <div class="panel panel-default" ng-show="pickElementGroup.status()">
            <div class="panel-body">
                <h2>Data element group</h2>
                <span class="fa fa-times-circle" ng-click="pickElementGroup.toggle()"></span>
                <div class="element-container">
                    <div class="element-button" ng-repeat="dataElementGroup in pieChart.getDataElementGroups()">
                        <span ng-click="updateDataElgroup(dataElementGroup)">{{ dataElementGroup.name }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" ng-show="pickElement.status()">
            <div class="panel-body">
                <h2>Data element</h2>
                <span class="fa fa-times-circle" ng-click="pickElement.toggle()"></span>
                <div class="element-container">
                    <div class="element-button" ng-repeat="dataElement in pieChart.getDataElements()">
                        <span ng-click="updateDataElement(dataElement)">{{ dataElement.name }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" ng-show="pickOrganizationGroup.status()">
            <div class="panel-body">
                <h2>Organization group</h2>
                <span class="fa fa-times-circle" ng-click="pickOrganizationGroup.toggle()"></span>
                <div class="element-container">
                    <div class="element-button" ng-repeat="dataElementGroup in pieChart.getOrganizationGroups()">
                        <span ng-click="updateDataOrgGroup(dataElementGroup)">{{ dataElementGroup.name }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="pieChart.isManualVisible" class="borderless-contrainer manual">
            <h1>Proportions</h1>

            <p>Charts that are created by this view will give you a good overview on how the proportions are between
                the
                selected values.</p>

            <p>To use the proportions use the controls you find above this explanation text.</p>
        </div>
        <div class="panel panel-default" ng-hide="pieChart.isManualVisible">
            <div class="panel-body">
                <div id="chart">
                    <h3>{{pieChart.getTimePeriod() | timeinterval | capitalize}}</h3>
                    <svg/>
                    <div>
                        <i ng-click="previousTime()"
                           class="fa fa-arrow-circle-o-left tuwas-arrow tuwas-arrow-left"></i>
                        <i ng-click="nextTime()"
                           class="fa fa-arrow-circle-o-right tuwas-arrow tuwas-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>