<div class="container">
    <div class="page-header">
        <div class="row">
            <a class="icon-setting" tooltip="Close settings" href="#/{{settings.lastChart}}"><i class=" fa fa-times-circle"></i></a>
            <h1>Settings</h1>
            </div>
        <div class="container">
            <div class="settings-info">
                    Below you can select the time intervals you would like to use in the graph. Additionally you can use set the maximum of intervals that you want to use. Currently you selected a max of
                    <input name="numberOfIntervals"
                           type="number"
                           ng-model="maxNumberOfIntervals"
                           max="{{timeIntervals.length}}"
                           min="1"
                           class="timeInterval"/> out of
                    <span class="max-intervals">{{timeIntervals.length}}</span> available intervals.
            </div>
            <hr>
            <div ng-repeat="interval in timeIntervals" class="div-setting">

                    <input id="{{interval}}" type="checkbox" value="{{interval}}" class="fa"
                           ng-class="{'fa-check-square-o': isCurrentlySelected(interval), 'fa-square-o': !isCurrentlySelected(interval) }"
                           ng-checked="isCurrentlySelected(interval)"
                           ng-click="toggleSelection(interval)"
                           ng-disabled="maxChosen(interval)"/>
                <label ng-disabled="maxChosen(interval)" for="{{interval}}">{{interval | timeinterval | capitalize}}</label>

            </div>
        </div>
    </div>
</div>