<!DOCTYPE html>
<html lang="en" ng-app="TuwasApp" ng-controller="AppController">
<head>
    <meta charset="utf-8">
    <title>Dhis graph viewer</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/sticky-footer-navbar.css"/>
    <link rel="stylesheet" href="lib/bower/nvd3/nv.d3.css"/>
    <link rel="stylesheet" href="lib/bower/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>

<div id="wrap">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default" ng-show="menu.show">
        <div class="container">
            <div class="navbar">
                <div ng-controller="HeaderController">
                    <ul class="nav navbar-nav">
                        <li ng-class="{ active: isActive('/linear')}">
                            <a href="#/linear">
                                <img class="logo" ng-show="isActive('/linear')" src="img/line_r.svg">
                                <img class="logo" ng-hide="isActive('/linear')" src="img/line_g.svg">
                                Trend</a>
                        </li>
                        <li ng-class="{ active: isActive('/bar')}">
                            <a href="#/bar">
                                <img class="logo" ng-show="isActive('/bar')" src="img/bar_r.svg">
                                <img class="logo" ng-hide="isActive('/bar')" src="img/bar_g.svg">
                                Comparison</a>
                        </li>
                        <li ng-class="{ active: isActive('/pie')}">
                            <a href="#/pie">
                                <img class="logo" ng-show="isActive('/pie')" src="img/pie_r.svg">
                                <img class="logo" ng-hide="isActive('/pie')" src="img/pie_g.svg">
                                Proportion</a>
                        </li>

                    </ul>
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div class="menu-toggle" ng-click="menu.toggle()" ng-hide="menu.show">
            <span class="fa fa-chevron-down"></span>
        </div>
        <div class="menu-toggle" ng-click="menu.toggle()" ng-show="menu.show">
            <span class="fa fa-chevron-up"></span>
        </div>
    </div>
    <div class="messages">
        <div ng-repeat="(message_id, message) in messages.message_queue" class="alert alert-dismissable" ng-class="message.level">
            <button type="button" class="close" aria-hidden="true" ng-click="messages.removeMessage(message_id)">&times;</button>
            {{message.text | capitalize}}
        </div>

    </div>

    <div class="main-view" ng-view></div>

    <div class="container" ng-hide="isActive('/settings')">
        <div class="borderless-contrainer info-toggle" ng-click="info.toggle()">
            <i ng-hide="info.show" class="fa fa-square-o"> Show Information</i>
            <i ng-show="info.show" class="fa fa-check-square-o"> Show Information</i>
        </div>
        <div class="panel panel-default" ng-show="info.show">
            <div class="info-explanation panel-body">
                <p>When graph is shown you can use swipe movements <i class="fa fa-arrows-h"></i> (left and right) to change the time dimension.</p>
                <p>On larger displays you will find the <i class="fa fa-arrow-circle-o-left"></i> and <i class="fa fa-arrow-circle-o-right"></i> icons that you can use to change the time dimension</p>
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="container">
        <div class="footer-links">
            <a href="mailto:markpo@ifi.uio.no"><i class="fa fa-bug"></i> Found a problem?</a>
            <a href="https://bitbucket.org/trustuswearescientists/tuwas-visualizer" target="_blank">
                <i class="fa fa-bitbucket"></i> Get the source code
            </a>
        </div>
        <div class="tuwas-info">
            <a href="https://wiki.uio.no/mn/ifi/inf5750/index.php/Trust_us,_we%27re_Scientists!_Visualization" target="_blank">
                <span class="tuwas-name">Tuwas</span> <span class="tuwas-visualizr">Visualizr</span>
            </a>
        </div>
    </div>
</footer>

<!-- Angular libraries -->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-resource.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="lib/angular/angular-touch.js"></script>

<!-- Third party libraries -->
<script src="lib/bower/lodash/dist/lodash.js"></script>
<script src="lib/bower/restangular/dist/restangular.js"></script>
<script src="lib/bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="lib/bower/d3/d3.js"></script>
<script src="lib/bower/nvd3/nv.d3.js"></script>
<script src="lib/bower/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>

<!-- Our Angular code -->
<script src="js/app.js"></script>
<script>
    /**
     * FIXME Replace this with a a normal script tag for services.
     */
    (function () {
        function isJsonp() {
            var regex = new RegExp("[\\?&]jsonp([^&#]*)"),
                    results = regex.exec(location.search);
            return results == null ? false : true;
        }
        if (isJsonp()) {
            document.write('<script src="js/services/services-jsonp.js"><\/script>');
        } else {
            document.write('<script src="js/services/services.js"><\/script>');
        }
    })();
</script>
<script src="js/services/charts/base.js"></script>
<script src="js/services/charts/line.js"></script>
<script src="js/services/charts/bar.js"></script>
<script src="js/services/charts/pie.js"></script>
<script src="js/filters.js"></script>
<script src="js/utils.js"></script>
<script src="js/controllers/AppController.js"></script>
<script src="js/controllers/HeaderController.js"></script>
<script src="js/controllers/BarGraphController.js"></script>
<script src="js/controllers/LinearGraphController.js"></script>
<script src="js/controllers/PieChartController.js"></script>
<script src="js/controllers/SettingsController.js"></script>

</body>
</html>